* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: #7a5af5;
    color: white;
}

.job {
    margin: 10px 0 20px;
    font-size: 18px;
}

.btn {
    background: white;
    color: #7a5af5;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.dark-mode-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #7a5af5;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

body.dark {
    background: #1e1e1e;
    color: #f5f5f5;
}

body.dark .project-card {
    background: #2a2a2a;
    color: #fff;
}

body.dark header {
    background: linear-gradient(135deg, #3f328b, #2e19b5);
}

body.dark .dark-mode-btn {
    background: #fff;
    color: #000;
}


/* Dark Mode Button */
.dark-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 14px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background: #7a5af5;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #7a5af5;
    color: white;
    font-size: 18px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
}

.back-to-top.show {
    opacity: 1;
    pointer-events: all;
}

/* Sticky Header */
header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    transition: 0.4s;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
